#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp 1	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB
                &out OUT_USB	&kp 2	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB
                &out OUT_USB	&out OUT_USB	&kp 3	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB
                &out OUT_USB	&out OUT_USB	&out OUT_USB	&kp 4	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB
                &out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&kp 5	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB
                &out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&kp 6	&out OUT_USB	&out OUT_USB	&out OUT_USB
                &out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&kp 7	&out OUT_USB	&out OUT_USB
                &out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&kp 8	&out OUT_USB
                &out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&kp 9
                &out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB
                &out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB
                &out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB
                &out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB
                &out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB	&out OUT_USB


            >;

        };

        bt_layer {
            bindings = <
            
        }
    };
};
